:root {
  --primary-color: #3498db; /* آبی اصلی جدید */
  --secondary-color: #ffffff; /* سفید */
  --accent-color: #2980b9; /* آبی تیره‌تر برای تاکید */
  --background-color: #ecf6ff; /* پس‌زمینه آبی بسیار روشن */
  --text-color: #2c3e50; /* آبی تیره‌تر برای متن */
  --header-font-size: 2.5em;
  --section-title-font-size: 2em;
  --price-color: #1f618d; /* آبی تیره برای قیمت‌ها */
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  direction: rtl;
  margin: 0;
  padding: 0;
}

.menu-container {
  width: 90%;
  max-width: 1200px;
  margin: 40px auto;
  padding: 30px;
  background-color: var(--secondary-color);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.menu-container:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.header {
  text-align: center;
  margin-bottom: 40px;
}

.header h1 {
  font-size: var(--header-font-size);
  color: var(--primary-color);
  margin: 0;
  font-weight: 700;
}

.menu-section {
  margin-bottom: 50px;
}

.menu-section h2 {
  font-size: var(--section-title-font-size);
  border-bottom: 3px solid var(--primary-color);
  padding-bottom: 10px;
  margin-bottom: 20px;
  color: var(--primary-color);
  font-weight: 600;
}

.menu-item {
  margin: 20px 0;
  padding: 20px;
  background-color: var(--secondary-color);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.menu-item:hover {
  background-color: var(--background-color);
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.menu-item h2 {
  margin: 0;
  color: var(--primary-color);
  font-size: 1.5em;
  font-weight: 600;
}

.menu-item p {
  margin: 10px 0;
  color: var(--text-color);
  line-height: 1.6;
}

.menu-item span {
  font-weight: 700;
  color: var(--price-color);
  font-size: 1.2em;
}

@media (max-width: 768px) {
  .menu-container {
    width: 95%;
    padding: 20px;
  }

  .header h1 {
    font-size: 2em;
  }

  .menu-section h2 {
    font-size: 1.5em;
  }

  .menu-item h2 {
    font-size: 1.2em;
  }

  .menu-item span {
    font-size: 1em;
  }
  .button {
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: #3498db;
    color: #ffffff;
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}
}
